*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

/*|| Header */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1% 2%;
    background-color: black;
    border-bottom: blueviolet 1px solid;
    color: white;
    z-index: 1;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a{
    padding:1%;
    margin: 0 0.2%;
    text-decoration: none;
    color: white;
}

.header a:hover{
    background-color: blueviolet;
    cursor: pointer;
}

.header a:focus{
    background-color: blueviolet;
}



.header li:nth-child(3){
    font-size: 1.5em;
    color: blueviolet;
    margin: 0 1em;
}

/*||Grid container*/
.main-div{
    position: relative;
    top: 3.3em;
    display: grid;
    grid-template-rows: 92vh;
    grid-template-columns: repeat(4,100%);
    background-color: greenyellow;
}

/*||Grid Items*/

/*======Home=====*/
.home{
    background-color: black;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    color: white;
    display: none;
}

.home ul{
    display: flex;
    justify-content: space-evenly;
}

.home li:first-child{
    text-align: center;
    margin-top: 5%;
}

.home li:first-child p:first-child{
    font-size: 3em;
}


/*||About -Me */

.about-me{
    background-color: black;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    color: white;
}

.about-me ul{
    display: flex;
    justify-content: space-evenly;
}

.about-me li:nth-child(2){
    padding: 3em 3em;
}

.about-me img{
    transform: rotateY(180deg);
}

.projects{
    background-color: yellow;
    grid-row: 1/2;
    grid-column: 3/4;
    width: 100%;
    display: none;
}

.contact{
    background-color: blueviolet;
    grid-row: 1/2;
    grid-column: 4/5;
    width: 100%;
    display: none;
}
