*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
}

/*||Header*/
.header{
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom:1px solid blueviolet;
    text-align: center;
    z-index: 1;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header li:not(:nth-child(3)){
    width: 9.3%;
    padding: 1%;
}

.header li:nth-child(3){
    font-size: 1.5em;
    color: blueviolet;
}

.header a{
    padding: 10%;
}

.header a:hover{
cursor: pointer;
background-color: blueviolet;
}

/*|| Main Body*/
.main-body{
    position: relative;
    top: 3em;
    height: 92.8vh;
    width: 100%;
    display: flex;
}

/*||Home */
.home{
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.home ul{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.home li:first-child{
    position: relative;
    top: 3em;
}

/*|| About Me*/
.about-me{
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.about-me ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-me li:first-child img{
    transform: rotateY(180deg);
}

.about-me li:last-child{
    position: relative;
    top: 3em;
}

.active{
    background-color: blueviolet;
}

.hidden{
    display: none;
}










