*{
    margin: 0;
    padding: 0;
}



.logo{
    width: 50%;
    height: 500px;
    border: 1px solid gray;
    text-align: center;
    font-size: 4em;
    font-family: 'Hanalei Fill', cursive;
    line-height: 0.9;
    background-color: black;
    color: white;
    padding: 0.5% 0;

}