*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main{
    width: 30em;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
}

#timer_settings{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.3em 0;
}

#timer_settings input[type=text]{
    width: 8em;
}

#sec{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    font-family: 'Graduate';
}

#session{
    margin-right: 6em;
}

#rounds_done{
    margin-left: 3.5em;
}

#rest, #learn{
    margin-right: 1.5em;
}

#display{
    font-size: 5em;
    font-family: 'Graduate', cursive;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 2em;
    border-radius: 8px;
background-color: rgb(12, 136, 12);
}

#button:hover{
    cursor: pointer;
    
}